html {scroll-behavior: smooth;}

body {font-family: Open Sans,Helvetica,Arial,sans-serif;}

section, article {margin-top: 10px;}

#hours{
    background: #ec0101;
    color: white;
    height: 65px;
    width: 100%;
    top: 0;
    z-index: 1030;
    text-align: center;
    display: table;
}

#hours img{ height: 20px; margin: 6px;}

#hours-text {display: table-cell; vertical-align: middle; text-align: center;}

#header-contact-us{
    width: 100%;
    margin-bottom: 15px;
    /* height: 100%; */
    z-index: 1030; 
    background: white;
    text-align: center;
}
a.btn.btn-outline-light.btn-lg:hover{background-color: #28a745; border: 1px solid #28a745;}
#contact-us-header, #find-us-header-icon {margin-bottom: 30px;}

.header-image {
    height: 30px;
    padding: 3px;
}

.header-image-infos #email {opacity: .5;font-size: 1em;}
.header-image-infos a, h5 {color: #393e46;}
.header-image-infos img {margin-bottom: 8px; height: 30px;}
.header-image-infos h4{margin: 0;}

.modal-content {border: none;}
.popup.title {text-align: center;}
.modal-body{text-align: center;}
.modal-body h2 h4{line-height: 1.4;}
#contacts-modal{text-align: center;}
#contacts-modal img{height: 40px!important; margin: 5px;}
#contacts-modal img.rounded{border-radius: 100%!important;}

#logo-header {
    display: none;
    width: 200px;
}

.cabecalho, html, body, .header-text{height: 100%;}

.bg-light {background: white!important;}

.shrink li{
    padding: 0px!important;
    transition: .2s ease;
}

.navbar {
    top:0px;
}
.navbar li a {font-size: 16px;text-align: center;}
.navbar li:hover {background: rgb(80,180,90)!important;}
.nav-link
{
    padding-top: 18px;
    padding-bottom: 18px; 
}

.navbar-toggler {border-color:white!important;}

.navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;}

.bg-success {background: #28a745!important;}

.logo-menu{height: 58px;}

.cabecalho {
    background-image: url("../images/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header-message h1, h3{
    /* padding-bottom: 1em;
    padding-top: 1em; */
    /* color: rgb(62, 87, 62); */
    text-transform: uppercase;
}

#header-message h3 {display: none;}

#header-message {
    /* border: 1px solid;
    border-radius: 5px;
    padding-bottom: 40px; */
    padding-top: 40px;
}
.l15 {line-height: 1.5;}

#header-message span{font-size: 19px;}

.header-text h1, .btn, #header-message{
    animation-duration: 1.5s;
    animation-name:fadein;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.header-text {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    display: table;
    color: white;
    text-align: center;
}

.header-text h2 {
    display: inline;
}

.header-text .container{
    display: table-cell;
    vertical-align: middle;
}

.btn-outline-light {
    width: 200px;

}

.btn-outline-light:hover {
    background:rgb(119,221,119);
    color: whitesmoke;
    border-color: rgb(119,221,119);
}

.button
{
    padding: 10px 28px;
    width: 200px;
    border-radius: 100px;
    text-decoration: none;
    color: white;
}

#main-content {border-bottom: 1px solid rgba(0,0,0,.1);}

.general-information {
    height: 100%;
    color: #455463;
    margin-top: 20px;
}
.sublist{float: right; display: inline-block;}
.wellcome{
    padding: 20px 70px;
    line-height: 40px;
}

.card-header {
    display: table;
    text-align: center;
}

.card-header h4{
    display: table-cell;
    vertical-align: middle;
}

.bg-success {
    background-color: #28a745;
    color: whitesmoke;
}

.toggle-list{
    list-style-type: none;
    padding-top: 2em;
    transition: 1s ease;
    cursor: pointer;
}

.toggle-list:hover {
    transition: .5s ease;
    color: rgb(119,221,119);
}

.toggle-list:not(:hover){transition: .5s ease;}

.parceiros {
    overflow: hidden;
    margin-top:50px;
}

.toggle-list i{font-size: 17px;}

.owl-carousel {
    background: linear-gradient(to right, #28a745,#63D471);
    width: 100%;
}

.owl-stage {
    width: 6150px !important;
}

.owl-carousel div {
    color: white;
}

.item {
    width: 238px;
    text-align: center;
}

.owl-carousel div p {
    opacity: 1;
    text-align: center;
    font-size: 1.5em;
}

.owl-item {padding-right:200px;}

.owl-item{cursor: pointer;}

.owl-item.center p{
    opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.custom-lrp {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#find-us-article{
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 40px;
}

#find-us-article h4{margin-bottom: 20px;}

#find-us-article .icon{height: 30px;}

#map {
    height: 400px;
    margin: auto;
}

#contact-us-article {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
}

#contact-us-article h2,h3,h4,h5,h6{text-align: center;}

#btn-send-form {
    margin-top: 20px;
    padding: 12px;
    background-color: #28a745;

}

#btn-to-top{
    position: fixed;
    bottom: 100px;
    right: 30px;
    height: 41px;
    width: 30px;
    font-size: 16px;
    display: table;
    background: #f7f7f7;
    color: rgba(0,0,0,.5);
    transition: .2s;
}

#btn-to-top i {
    display: table-cell;
    vertical-align: middle;
}

#btn-to-top:hover {
    color: whitesmoke;
    background: rgb(119,221,119)!important;
}

footer{
    height: 86%;
    font-size: .8em;
    text-align: center;
    padding: 2em 0;
    margin-top: 20px;
    color: rgba(0,0,0,.5)!important;
}

.contact-info{
    margin-bottom: 10px!important;
    margin-top: 10px!important;
    font-size: 1rem!important;
}
.contact-info span{
    font-size: 1.25rem!important;
    font-weight: 500!important;
}
footer a, h6 {font-weight: 400!important;}

footer a{
    text-decoration: none;
    color: rgba(0,0,0);
    font-size: 1em;
    
}

footer img{
    height: 28px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

footer .logo-footer {
    height: 30px;
    margin-bottom: 30px;
}

footer #contact-us, #social-media, #find-us img {opacity: .5;}


footer #social-media a:hover{cursor: pointer;}

#copyright{
    text-align: center;
    background:  #28a745;
    color: whitesmoke;
}

/* MEDIA QUERIES */

@media screen and (min-width:276px){

    #div-logo-header {margin-bottom: 30px;}

    #logo-header{
        display: inline;
        width: 147px;
    }
    /* .header-image-infos img{height:40px;} */

    #logo-footer {
        height: 58px;
    }

}

@media screen and (min-width: 310px) {
    #header-message h1 {display: none;}

    #header-message h3 {display: block;}
}

@media screen and (max-width:310px) {
    #header-message h1{
        font-size: 1em!important;
        padding-right: 0;
        padding-left: 0;
    }

    #header-message span {display: none;}

    .btn-outline-light{
        width: 88px!important;
        font-size: .7rem;
    }
    
    .wellcome{padding: 10px!important;}
}

/* @media screen and (min-height: 568px), screen and (max-width: 768px) {
    #header-contact-us{ height: 120%;}
} */

@media screen and (min-width:576px){

    #logo-header{
        width: 180px;
    }
    /* .header-image-infos img{height:40px;} */
    .email-break-row {display: none;}
}

@media screen and (max-width:576px){
    #header-message h1{
        font-size: 2em!important;
    }

    #header-message {border: none;}
}

/* @media screen and (min-height: 640px) {
    #header-contact-us{ height: 105%;}
}

@media screen and (min-height: 667px) {
    #header-contact-us{ height: 102%;}
}

@media screen and (min-height: 731px) {
    #header-contact-us{ height: 94%;}
} */


@media screen and (min-width:768px){

    /* #header-contact-us{ height: 55%;} */
    .email-break-row {display: block;}
    .contact-info-header img {
        float:left;
    }

    .contact-info-header h5, p {
        text-align: left;
    }

    #header-contact-us h5, #header-contact-us p {
        text-align: left;
        margin-left: 40px;
    }
    #find-us-header-icon img , #contact-us-header img {float: left;}

    footer{height: 50%;}

    footer img{
        float: left;
        height: 20px;
    }
    footer div {
        margin-bottom: 10px;
    }

    footer h6{text-align: left;}
}

@media screen and (min-width:992px) {
    .navbar li {
        padding: 16px;
        transition: .4s ease;
        
    }

    #header-message {padding: 3em 5em;}

    /* #header-contact-us {height: 55% !important;} */

}
